In [49]:
import pandas as pd
import matplotlib.pyplot as plt

In [50]:
#Here im loading my datasets
Age_df = pd.read_excel('../Final_proj_Data/Table 1-01.xlsx', index_col = None)

In [51]:
Age_df2 = pd.read_excel('../Final_proj_Data/Table 2-01.xlsx', index_col = None)

In [52]:
#Resizing data sets
Age_df = Age_df[6:50]
Age_df2 = Age_df2[5:50]

In [53]:
#here im renaming the columns in the data sets
Age_df.columns=[['Age', 'Total' ,'None', '1st - 4th grade', '5th - 6th grade', '7th - 8th grade', '9th grade', '10th grade', '11th grade','High school graduate','Some college no degree', "Associate's degree, occupational", "Associate's degree, academic", "Bachelor's degree", "Master's degree", "Professional degree", "Doctoral degree"]]
Age_df2.columns = [['Total','',"None - 8th grade", '9th - 11th grade', 'High school graduate', 'Some college no degree', "Associate's degree", "Bachelor's degree", "Master's degree", "Professional degree", "Doctoral degree"]]

In [54]:
Age_df.index = Age_df.Age

In [63]:
Age_df = Age_df.drop('Age', 1)

In [64]:
Age_df

,Total,None,1st - 4th grade,5th - 6th grade,7th - 8th grade,9th grade,10th grade,11th grade,High school graduate,Some college no degree,"Associate's degree, occupational","Associate's degree, academic",Bachelor's degree,Master's degree,Professional degree,Doctoral degree
Age,,,,,,,,,,,,,,,,
.18 years and over,239341,904,1751,3355,4369,3773,4711,10646,70919,46484,9763,12637,45176,17960,3174,3719
..18 to 24 years,30054,78,52,139,198,313,599,3673,8679,11565,632,978,2920,187,26,16
.25 years and over,209287,826,1699,3217,4171,3460,4112,6973,62240,34919,9131,11659,42256,17772,3148,3703
..25 to 29 years,21486,25,75,212,204,319,362,772,5699,4345,913,1245,5687,1262,173,192
..30 to 34 years,20980,79,106,269,262,399,377,789,5342,3438,952,1284,4869,2136,361,316
..35 to 39 years,19411,91,141,368,287,312,376,642,4994,3126,943,1241,4236,1947,359,346
..40 to 44 years,20379,70,106,403,286,349,322,611,5250,3276,1007,1297,4733,1969,294,405
..45 to 49 years,20665,56,153,302,298,351,319,673,6139,3277,984,1172,4553,1799,280,312
..50 to 54 years,22233,80,176,313,354,351,394,734,6855,3631,1067,1453,4362,1735,335,393
..55 to 59 years,21156,73,130,271,327,291,357,683,6901,3620,1022,1275,3762,1690,382,372
..60 to 64 years,18470,79,160,227,423,207,307,481,5721,3106,819,1044,3430,1761,336,368
..65 to 69 years,14931,51,150,198,391,193,346,451,4653,2729,563,674,2484,1371,261,416
..70 to 74 years,10811,47,129,187,308,183,316,331,3809,1802,280,372,1669,958,148,272
..75 years and over,18766,175,372,467,1030,506,636,805,6877,2568,581,602,2471,1146,218,311
Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
.18 years and over,115880,423,850,1733,2246,1884,2396,5708,35514,22085,4470,5195,21300,7898,1833,2343
..18 to 24 years,15288,54,35,99,119,196,335,2055,4796,5628,282,411,1201,52,13,14
.25 years and over,100592,370,814,1634,2128,1688,2061,3654,30718,16457,4188,4784,20099,7846,1821,2329
..25 to 29 years,10831,20,33,125,108,153,203,424,3295,2202,401,514,2710,478,70,93
..30 to 34 years,10386,33,65,147,131,174,208,448,3029,1764,463,566,2192,829,170,168
..35 to 39 years,9562,43,69,204,164,182,198,384,2821,1525,445,497,1850,833,181,166
..40 to 44 years,10030,41,54,230,183,165,185,324,2813,1594,446,553,2206,831,161,245
..45 to 49 years,10145,25,102,174,157,193,182,411,3142,1458,473,458,2155,847,180,189
..50 to 54 years,10787,58,99,154,194,176,214,379,3470,1646,524,581,2075,822,164,232
..55 to 59 years,10252,37,60,138,171,126,213,387,3445,1760,520,492,1668,733,258,245
..60 to 64 years,8836,27,74,106,190,120,137,265,2652,1446,371,468,1790,768,173,248
..65 to 69 years,7065,13,54,86,172,90,150,184,2075,1291,222,280,1342,621,176,308
..70 to 74 years,4981,14,61,85,183,83,163,140,1579,747,115,171,877,465,110,188
..75 years and over,7716,61,144,184,475,225,207,309,2399,1024,208,204,1233,618,177,247
Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
.18 years and over,123461,480,902,1623,2122,1889,2315,4937,35405,24399,5293,7442,23876,10061,1341,1376
..18 to 24 years,14766,24,17,40,79,117,265,1618,3883,5937,350,568,1719,135,14,2
.25 years and over,108695,456,885,1583,2043,1772,2051,3319,31522,18462,4943,6875,22157,9926,1327,1374
..25 to 29 years,10655,5,42,87,96,166,159,348,2404,2143,512,730,2977,784,103,99
..30 to 34 years,10594,46,41,122,131,224,169,342,2313,1674,489,718,2677,1307,192,148
..35 to 39 years,9848,49,72,164,123,130,178,258,2173,1601,498,744,2386,1113,178,180
..40 to 44 years,10348,29,53,173,103,183,137,287,2437,1681,561,744,2527,1138,133,160
..45 to 49 years,10520,31,51,128,141,157,137,262,2997,1819,510,714,2398,951,100,122
..50 to 54 years,11446,23,77,159,161,175,179,356,3385,1985,542,872,2287,912,171,161
..55 to 59 years,10905,36,70,133,156,165,144,296,3457,1860,502,783,2094,957,124,128
..60 to 64 years,9635,52,86,121,233,87,170,216,3069,1660,449,576,1639,993,163,119
..65 to 69 years,7866,38,96,112,220,103,195,267,2578,1438,341,393,1141,750,85,108
..70 to 74 years,5830,33,68,103,125,100,153,191,2230,1055,165,201,792,492,38,84
..75 years and over,11049,114,228,282,554,282,429,497,4478,1544,373,398,1238,528,41,63

In [67]:
#Munging data so subsets of data are seperated
M_Age_df = Age_df[15:29]

In [ ]:
W_Age_df = Age_df[31:50]

In [ ]:
T_Age_df = Age_df[0:14]

In [ ]:
W_Age_df

In [ ]:
#Here im ploting the munged data
W_Age_Plot = W_Age_df.plot(kind='bar')
#Here im labeling the "tickmarks" or sets of bars on the x axis
labels = [item.get_text() for item in W_Age_Plot.get_xticklabels()]
labels[0] = '18 to 24 years'
labels[1] =  '25 years and over'
labels[2] = '25 to 29 years'
labels[3] = '30 to 34 years'
labels[4] = '35 to 39 years'
labels[5] = '40 to 44 years'
labels[6] = '45 to 49 years'
labels[7] = '50 to 54 years'
labels[8] = '55 to 59 years'
labels[9] = '60 to 64 years'
labels[10] = "65 to 69 years"
labels[11] = "70 to 74 years"
labels[12] = "75 years and over"
W_Age_Plot.set_xticklabels(labels)
plt.show()

In [ ]:
T_Age_Plot = T_Age_df.plot(kind='bar')
labels = [item.get_text() for item in T_Age_Plot.get_xticklabels()]
labels[0] = '18 to 24 years'
labels[1] =  '25 years and over'
labels[2] = '25 to 29 years'
labels[3] = '30 to 34 years'
labels[4] = '35 to 39 years'
labels[5] = '40 to 44 years'
labels[6] = '45 to 49 years'
labels[7] = '50 to 54 years'
labels[8] = '55 to 59 years'
labels[9] = '60 to 64 years'
labels[10] = "65 to 69 years"
labels[11] = "70 to 74 years"
labels[12] = "75 years and over"
T_Age_Plot.set_xticklabels(labels)
plt.show()

In [ ]:
M_Age_Plot = M_Age_df.plot(kind='bar')
labels = [item.get_text() for item in M_Age_Plot.get_xticklabels()]
labels[0] = '18 to 24 years'
labels[1] =  '25 years and over'
labels[2] = '25 to 29 years'
labels[3] = '30 to 34 years'
labels[4] = '35 to 39 years'
labels[5] = '40 to 44 years'
labels[6] = '45 to 49 years'
labels[7] = '50 to 54 years'
labels[8] = '55 to 59 years'
labels[9] = '60 to 64 years'
labels[10] = "65 to 69 years"
labels[11] = "70 to 74 years"
labels[12] = "75 years and over"
M_Age_Plot.set_xticklabels(labels)
plt.show()

In [79]:
plt.pie(M_Age_df.Total, labels, shadow=True, startangle=90)
plt.legend(title="The Legend")
plt.show()

AssertionError:

In [85]:
M_Age_Pie= M_Age_df.Total.plot(kind = 'pie', labels = ('Total' ,'None', '1st - 4th grade', '5th - 6th grade', '7th - 8th grade', '9th grade', '10th grade', '11th grade','High school graduate','Some college no degree', "Associate's degree, occupational", "Associate's degree, academic", "Bachelor's degree", "Master's degree", "Professional degree", "Doctoral degree"), subplots=True, autopct='%.2f',shadow=True, startangle=90, fontsize=10, figsize=(20, 20))
plt.legend(title="The Legend")
plt.tight_layout()
plt.show()

/Users/andershornor/anaconda/lib/python3.4/site-packages/matplotlib/tight_layout.py:225: UserWarning: tight_layout : falling back to Agg renderer
  warnings.warn("tight_layout : falling back to Agg renderer")

In [104]:
def plot_shit (Input_df) :
    for r in  Input_df:
        r = Input_df
        d = r.index[1]
        r.d.plot(kind = 'pie')
    plt.show()

In [105]:
plot_shit(M_Age_df)

AttributeError: 'DataFrame' object has no attribute 'd'